<template>
    <style>


     
    </style>
  
    <fieldset class="frm">
        <legend>Motoristas</legend>
        <div class="inline">
            <label for="edtNome">Nome:*</label>
            <input type="text" id="edtNome" class="only-view" placeholder="Nome" maxlength="40" disabled>
        </div>
        <div class="inline">
            <label for="edtCPF">CPF</label>
            <input type="text" id="edtCPF" class="only-view" placeholder="CPF" maxlength="14" onkeyup="return valCPF(this)" disabled>
            <label for="edtRG">RG</label>
            <input type="text" id="edtRG" class="only-view" placeholder="RG" maxlength="12" onkeyup="return valRG(this)" disabled>
            <div class="line-ckb">
                <label for="ckbLimite">Limite de Compra</label>
                <input type="checkbox" class="only-view" id="ckbLimite" checked disabled>
            </div>
        </div>
        <div class="inline">
            <label for="edtCNH">CNH</label>
            <input type="text" id="edtCNH" class="only-view" placeholder="CNH" maxlength="12" onkeyup="return valInt(this)" disabled>
            <label for="edtTipo">Tipo</label>
            <input type="text" id="edtTipo" class="only-view" placeholder="ex: A, AB, D, E" maxlength="2" disabled>
            <label for="edtVal">Validade</label>
            <input type="date" id="edtVal" class="only-view" disabled>
        </div>
        <div class="inline">
            <label for="cmbUser">Usuário</label>
            <select id="cmbUser" class="only-view" disabled></select>
            <label for="cmbLocal">Veículo</label>
            <select id="cmbLocal" class="only-view" disabled></select>
        
        </div>

        <div class="line">
            <button id="btnEdit" disabled><span class="mdi mdi-note-edit"></span>Editar</button>
            <button id="btnDel" disabled><span class="mdi mdi-delete"></span>Deletar</button>
            <button id="btnSave" class="only-view" disabled><span class="mdi mdi-content-save"></span>Salvar</button>
        </div>

    </fieldset>

</template>
<script>

    const pageData = main_data.adm_view_comprador.data
    const pageFunc = main_data.adm_view_comprador.func
    const pageScreen = document.querySelector('#card-adm_view_comprador')
    const novoComp = Object.keys(pageData).length == 0

    function pageStart(){


        pageScreen.querySelector('#btnEdit').disabled = novoComp

        fillUser()  
        fillLocalEstq()
        openFields(novoComp)
        if(!novoComp){
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#edtCPF').value = pageData.cpf
            pageScreen.querySelector('#edtRG').value = pageData.rg
            pageScreen.querySelector('#edtCNH').value = pageData.cnh
            pageScreen.querySelector('#edtTipo').value = pageData.tipo
            pageScreen.querySelector('#edtVal').value = pageData.validade
            pageScreen.querySelector('#ckbLimite').checked = parseInt(pageData.limite)
        }
    }

    function fillUser(){
        const params = new Object;
            params.field = 'email'
            params.signal = 'LIKE'
            params.value = "'%%'"
        const myPromisse = queryDB(params,'USR-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const combo = pageScreen.querySelector('#cmbUser')
            combo.innerHTML = ''
            for(let i=0; i<json.length;i++){
                const opt = document.createElement('option')
                opt.innerHTML = json[i].nome
                opt.value = json[i].id
                opt.selected = json[i].id == pageData.id_usuario ? 1 : 0
                combo.appendChild(opt)
            }         
        })
    }

    function fillLocalEstq(){
        const params = new Object;
            params.field = 'modelo'
            params.signal = 'LIKE'
            params.value = "'%%'"
        const myPromisse = queryDB(params,'ADM-4');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const combo = pageScreen.querySelector('#cmbLocal')
            combo.innerHTML = ''
            for(let i=0; i<json.length;i++){
                const opt = document.createElement('option')
                opt.innerHTML = json[i].modelo
                opt.value = json[i].id
                opt.selected = json[i].id == pageData.id_local ? 1 : 0
                combo.appendChild(opt)
            }         
        })
    }

    pageFunc.setComprador = (del=0)=>{
        const params = new Object;
            params.id = novoComp ? 0 : pageData.id
            params.id_usuario = pageScreen.querySelector('#cmbUser').value
            params.id_local = pageScreen.querySelector('#cmbLocal').value
            params.nome = del ? '' : pageScreen.querySelector('#edtNome').value.trim().toUpperCase()
            params.cpf = pageScreen.querySelector('#edtCPF').value
            params.rg = pageScreen.querySelector('#edtRG').value
            params.cnh = pageScreen.querySelector('#edtCNH').value
            params.tipo = pageScreen.querySelector('#edtTipo').value.trim().toUpperCase()
            params.validade = pageScreen.querySelector('#edtVal').value
            params.limite = pageScreen.querySelector('#ckbLimite').checked

        const myPromisse = queryDB(params,'ADM-3');

        myPromisse.then((resolve)=>{
            if(pageData.hasOwnProperty('callback')){
                eval(pageData.callback)
            }
            setLog(`Comprador ${del ? 'Deletado ': novoComp ? 'Cadastrado ':'Editado '} ${JSON.stringify(params)}`)            
            closeModal('adm_view_comprador')
        })
        
    }


    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        if(checkField(['edtNome']) ){
            pageFunc.setComprador()
        }
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if (confirm('Deseja realmente deletar este Motorista?')) {
            pageFunc.setComprador(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        openFields()
        pageScreen.querySelector('#btnDel').disabled = 0
        pageScreen.querySelector('#btnEdit').disabled = 1
    })

    pageStart()

</script>