
<template>
    <style>

        #tblLocal tr th{
            font-size: 0.9em;
            max-width: 20%;
        }

        .head-item{
            display: flex;            
        }

        .btnHide{
            display: none;
        }

        @media all and (max-width : 768px) {

            #btnComp{
                background-color: crimson;
                color: floralwhite;
                border-radius: 7px;
            }
        }

    </style>
    
    <fieldset id="fdsComp">
        <legend>Local</legend>
        <table id="tblLocal">
            <tr><th>Nome</th><th id="lblTipo">Tipo</th><th>Peso</th><th>Valor R$</th></tr>
            <tr><td id="via-nome"></td><td id="via-tipo"></td><td id="via-peso"></td><td id="via-valor"></td></tr>
        </table>
        <div class="line">
            <button id="btnComp"><span class="mdi mdi-cash-multiple"></span> Comprar</button>
            <button id="btnVend" class="btnHide"><span class="mdi mdi-cash-register"></span> Vender</button>
            <button id="btnTrans" class="btnHide"><span class="mdi mdi-swap-horizontal"></span> Transferir</button>

        </div>

    </fieldset>
    <fieldset>
        <legend>Ítens</legend>
        <table id="tblItens-viagem"></table>
        <div class="line">
            <button id="btnImp" class="btnHide"><span class="mdi mdi-printer"></span> Imprimir</button>
        </div>



    </fieldset>

</template>
<script>

    const pageData = main_data.adm_view_estoque.data
    const pageFunc = main_data.adm_view_estoque.func
    const pageScreen = document.querySelector('#card-adm_view_estoque')
    const novoReg = !(Object.keys(pageData).length)

    function pageStart(){
        pageFunc.fillItens()
        if (!novoReg){
            pageScreen.querySelector('#via-nome').innerHTML = pageData.modelo.toUpperCase()
            pageScreen.querySelector('#via-tipo').innerHTML = pageData.local.toUpperCase()
            pageScreen.querySelector('#via-peso').innerHTML = ''
            pageScreen.querySelector('#via-valor').innerHTML = ''
            pageScreen.querySelector('#btnTrans').style.display = 'block'
            pageScreen.querySelector('#btnVend').style.display = 'block'
            pageScreen.querySelector('#btnImp').style.display = 'block'            
        }else{
            pageScreen.querySelector('#edtModelo').focus()
        }

    }

    pageFunc.setItem =(id_local,id_prod,qtd,und,valor)=>{
        const params = new Object;
            params.id_local = id_local
            params.id_prod = id_prod
            params.qtd = qtd
            params.und = und
            params.val_unit = valor
        const myPromisse = queryDB(params,'ESTQ-1');
        myPromisse.then((resolve)=>{
            if(pageData.hasOwnProperty('callback')){
                eval(pageData.callback)
            }
            setLog(`Ítem de Estoque ${qtd==0 ? 'Deletado ': 'Cadastrado '} ${JSON.stringify(params)}`)
            pageFunc.fillItens()            
        })
    }

    pageFunc.fillItens = ()=>{
        const params = new Object;
            params.id_local = pageData.id       
        const myPromisse = queryDB(params,'ESTQ-0');
        myPromisse.then((resolve)=>{
            pageData.itens = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tblItens-viagem')
            const tot = new Object
                tot.peso = 0
                tot.val = 0
            tbl.head('Descrição,Und.|mobHide,Qtd.,Preço Unit.,Sub Total')            
            for(let i=0; i<pageData.itens.length;i++){
                pageData.itens[i].edt_val = pageData.itens[i].val_unit
                if(parseFloat(pageData.itens[i].qtd) > 0 ){
                    tbl.plot(pageData.itens[i],'nome,und|mobHide,qtd,val_unit,total','Upp,Upp,str,R$.,R$.')
                    tot.val += parseFloat(pageData.itens[i].total)
                    tot.peso += parseFloat(pageData.itens[i].qtd)
                }
            }
            pageScreen.querySelector('#via-valor').innerHTML = viewMoneyBR(tot.val.toFixed(2))
            pageScreen.querySelector('#via-peso').innerHTML = tot.peso.toFixed(2)+' Kg'
        })
    }

    pageScreen.querySelector('#btnComp').addEventListener('click',()=>{
        openHTML('com_compra.html','pop-up','D2Soft',{callby:'viewLocal'},600)
    })

    pageScreen.querySelector('#btnVend').addEventListener('click',()=>{        
        openHTML('venda.html','pop-up','D2Soft',{mode:'venda'})
    })

    pageScreen.querySelector('#btnTrans').addEventListener('click',()=>{        
        openHTML('transf.html','pop-up','Transferência de Material',{mode:'transf'})
    })

    pageScreen.querySelector('#tblLocal').addEventListener('click',()=>{
        openHTML('adm_view_local.html','pop-up','Editar Local de Estoque',pageData)
    })

    pageScreen.querySelector('#tblItens-viagem').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
            data.callback = pageFunc.setItem
        openHTML('tool_edt_item.html','pop-up','Editar Local de Estoque',data,600)
    })

    pageScreen.querySelector('#btnImp').addEventListener('click',()=>{
        pageData.callby = 'viewLocal'
        pageData.peso = pageScreen.querySelector('#via-peso').innerHTML
        print_compra(pageData)
    })

    pageStart()

</script>