
<template>
    <style></style>
 
        <fieldset>
            <legend>Compra</legend>
            <div class="inline">
                <label for="edtCliente">Cliente</label>
                <div class="edtbtn">
                    <input type="text" id="edtCliente" readonly>
                    <button id="btnBusca" class="btn-round"><span class="mdi mdi-magnify"></span></button>
                </div>
            </div>
            <div class="line">
                <button id="btnAdd"><span class="mdi mdi-plus"></span> Produtos</button>
                <button id="btnClear"><span class="mdi mdi-eraser"></span> Limpar</button>
                <button id="btnCompra"><span class="mdi mdi-cash-check"></span> Comprar</button>
            </div>
            <table id="tbl-itens"></table>
        </fieldset>

</template>
<script>
 
    const pageData = main_data.com_compra.data
    const pageFunc = main_data.com_compra.func
    const pageScreen = document.querySelector('#card-com_compra')

    function pageStart(){
        pageData.itens = JSON.parse(localStorage.getItem('itens'))
        pageFunc.fillItens()
    }

    function buscaCli(data){
        pageScreen.querySelector('#edtCliente').data = data
        pageScreen.querySelector('#edtCliente').value = data.nome
    }

    function buscaProd(data){
        pageData.itens.push(data)
        pageFunc.fillItens()
    }

    function edtItem(data){
        data.total = (Number(data.qtd)* Number(data.val_unit)).toFixed(2)
        if(data.total=='0.00'){
            pageData.itens.splice(data.row,1)
        }
        pageFunc.fillItens()
    }

    function clearList(){
        pageData.itens = []
        pageFunc.fillItens()
    }

    pageFunc.setCompra = ()=>{
        const params = new Object; // cria compra
            params.id = 0
            params.id_cliente = pageScreen.querySelector('#cmbCli_compra').value
            params.id_resp = localStorage.getItem('id_user')
            params.id_local = pageData.id
            params.status = 'FECHADO'
            params.obs = `Compra realizada dia ${today.getFullDate()} pelo usuário ${localStorage.getItem('email')}.`
            params.data = today.getFullDateTime()
        
        const myPromisse =  queryDB(params,'COM-1')
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            pageFunc.setItemCompra(json[0].id)
        })
    }

    pageFunc.setItemCompra = (id_compra)=>{
        for(let i=0; i<pageData.itens.length; i++){
            const params_itens = new Object; // adiciona item compra
            params_itens.id = 0
            params_itens.id_compra = id_compra
            params_itens.id_prod = pageData.itens[i].id
            params_itens.qtd = pageData.itens[i].qtd
            params_itens.und = pageData.itens[i].und
            params_itens.val_unit = pageData.itens[i].val_unit
            queryDB(params_itens,'COM-2')
        }
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        openHTML('adm_clientes.html','pop-up','Selecione um Cliente',{'callback':buscaCli},600)
    })

    pageScreen.querySelector('#btnAdd').addEventListener('click',()=>{
        openHTML('tool_add_prod.html','pop-up','Adicione um Produto',{'callback':buscaProd},600)
    })

    pageFunc.fillItens = ()=>{
        localStorage.setItem('itens',JSON.stringify(pageData.itens))
        const tbl = pageScreen.querySelector('#tbl-itens')
        tbl.head('Descrição,Qtd.,Und.|mobHide,Preço,Sub-Total')   
        const tot = {'val':0,'peso':0}
        for(let i=0; i<pageData.itens.length;i++){
            tbl.plot(pageData.itens[i],'nome,qtd,und|mobHide,val_unit,total','Upp,Upp,Upp,R$.,R$.')
            tot.val += parseFloat(pageData.itens[i].total)
            tot.peso += parseFloat(pageData.itens[i].qtd)                
        }
        tot.peso += ' Kg'
        tbl.plot(tot,'|mobHide,,Total,peso,val','let,let,let,Upp,R$.')
    }

    pageScreen.querySelector('#tbl-itens').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        data.row = e.target.parentNode.rowIndex -1
        data.callback = edtItem
        openHTML('tool_edt_item.html','pop-up','Alteração de Ítem',data)

    })

    pageScreen.querySelector('#btnCompra').addEventListener('click',()=>{
        if(pageScreen.querySelector('#cmbCli_compra').value.trim() != ''){
            if (confirm('Deseja realmente efetuar esta compra?')) {
                const now = new Date
                const params = new Object; // cria compra
                    params.id = 'DEFAULT' 
                    params.id_cliente = pageScreen.querySelector('#cmbCli_compra').value
                    params.id_resp = localStorage.getItem('id_user')
                    params.status = 'FECHADO'
                    params.obs = `Compra realizada dia ${now.getFullDate()} pelo usuário ${localStorage.getItem('username')}.`
                    params.data = now.getFullDateTime()
                    params.id_local = main_data.viewLocal.data.id
                const myPromisse = queryDB(params,41);
                myPromisse.then((resolve)=>{
                    if(resolve.trim() != ""){
                        const sel = pageScreen.querySelector('#cmbCli_compra')
                        let total = 0
                        for(let i=0; i<main_data.compra.data.itens_temp.length; i++){

                            const params_itens = new Object; // adiciona item compra
                                params_itens.id = 'DEFAULT' 
                                params_itens.id_compra = '(SELECT MAX(id) FROM tb_compra)'
                                params_itens.id_prod = main_data.compra.data.itens_temp[i].id_prod
                                params_itens.qtd = main_data.compra.data.itens_temp[i].qtd
                                params_itens.und = main_data.compra.data.itens_temp[i].und
                                params_itens.val_unit = main_data.compra.data.itens_temp[i].val_venda
                                params_itens.id_local_origem = main_data.viewLocal.data.id
                            const myPromisse_itens = queryDB(params_itens,42);

                            total += (parseFloat(params_itens.qtd) * parseFloat(params_itens.val_unit))

                            const params_update = new Object // atualiza estoque
                                params_update.id_local = main_data.viewLocal.data.id
                                params_update.id_prod = main_data.compra.data.itens_temp[i].id_prod
                                params_update.qtd = main_data.compra.data.itens_temp[i].qtd
                                params_update.und = main_data.compra.data.itens_temp[i].und
                                params_update.val_unit = main_data.compra.data.itens_temp[i].val_venda
                            const myPromisse_update = queryDB(params_update,30);  
                            setLog(`Compra ${main_data.compra.data.itens_temp[i].qtd}Kg de ${main_data.compra.data.itens_temp[i].nome} por R$${main_data.compra.data.itens_temp[i].val_venda} para ${sel.options[sel.selectedIndex].text}  `)
                        }

                        const params_saldo = new Object // atualiza saldo
                            params_saldo.id = 'DEFAULT'
                            params_saldo.id_cliente = pageScreen.querySelector('#cmbCli_compra').value
                            params_saldo.data = now.getFullDateTime()
                            params_saldo.valor = total
                            params_saldo.tipo = 'PAGAR'
                            params_saldo.quitado = false
                            params_saldo.obs = params.obs
                            params_saldo.id_origem = '(SELECT MAX(id) FROM tb_compra)'
                            params_saldo.tb_origem = 'tb_compra'
                           
                        const myPromisse_saldo = queryDB(params_saldo,58); 

                        const params_del_temp = new Object; // deleta venda temporaria
                            params_del_temp.id_local = main_data.viewLocal.data.id
                            params_del_temp.hash = localStorage.getItem('hash')
                        const myPromisse_del_itens = queryDB(params_del_temp,37);

                        myPromisse_del_itens.then((resolve)=>{
                            alert('Compra Realizada com sucesso!')
                            main_data.viewLocal.fillItens()
                            closeModal('compra')
                        })

                    }  
                })               
            }

        }else{
            alert('Por favor, selecione um cliente para a compra.')
            pageScreen.querySelector('#cmbCli_compra').focus()
        }

        
    })

    pageScreen.querySelector('#btnClear').addEventListener('click',()=>{
        if (confirm('Deseja eliminar todos os ítens da lista?')) {
            clearList()
        }
    })

    pageStart()

</script>