
<template>
    <style></style>

<fieldset>
    <legend id="lgdItem"></legend>

    <div class="inline">
        <label for="edtQtd">Qtd</label>
        <input type="text" id="edtQtd" onfocus="this.select();" inputmode="decimal" onkeyup="return valFloat(this)" onkeypress="return getEnter(event, 'btnSave')">
        <label for="edtPreco">Preço</label>
        <input type="text" id="edtPreco" onfocus="this.select();" inputmode="decimal" onkeyup="return valFloat(this)" onkeypress="return getEnter(event, 'btnSave')">
    </div>
    <div class="line">
        <button id="btnSave"><span class="mdi mdi-content-save-outline"></span> Salvar</button>
        <button id="btnDel"><span class="mdi mdi-delete-outline"></span> Deletar</button>
    </div>
</fieldset>


</template>
<script>

    const pageData = main_data.tool_edt_item.data
    const pageFunc = main_data.tool_edt_item.func
    const pageScreen = document.querySelector('#card-tool_edt_item')

    function pageStart(){
        pageScreen.querySelector('#lgdItem').innerHTML = pageData.nome
        pageScreen.querySelector('#edtQtd').value = parseFloat(pageData.qtd).toFixed(2)
        pageScreen.querySelector('#edtPreco').value = parseFloat(pageData.val_unit).toFixed(2)
        pageScreen.querySelector('#edtQtd').focus()

    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        if (confirm('Confirma a alteração do ítem?')) {
            if(max_itens() && limite_preco()){
                if(pageData.hasOwnProperty('callback')){
                    pageData.qtd = pageScreen.querySelector('#edtQtd').value
                    pageData.val_unit = pageScreen.querySelector('#edtPreco').value
                    pageData.callback(pageData)
                    closeModal('tool_edt_item')
                }
            }
        }
    })

    function max_itens(){
        if(pageData.max != undefined){
            if(parseFloat(pageData.max) < parseFloat(pageScreen.querySelector('#edtQtd').value)){
                alert('Quantidade digitada superior ao estoque disponível!')
                pageScreen.querySelector('#edtQtd').value = pageData.max
                pageScreen.querySelector('#edtQtd').focus()
                return false
            }
        }
        return true
    }

    function limite_preco(){
        if(pageData.callby == 'compra' && main_data.viewLocal.data.mode == 'motorista' && main_data.viewLocal.data.limite == '1'){
                if(parseFloat(pageScreen.querySelector('#edtPreco').value) > localStorage.getItem('limite') ){
                    alert(`O preço não pode ser editado para cima`)
                    pageScreen.querySelector('#edtPreco').value = localStorage.getItem('limite')
                    return false
                }else{
                    return true
                }
        }else{
            return true
        }
    }

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if (confirm('Deseja realmente deletar este ítem?')) {
            if(pageData.hasOwnProperty('callback')){
                pageData.qtd = '0'
                pageData.val_unit = '0'
                pageData.callback(pageData)
            }
            closeModal('tool_edt_item')        }
    })

    pageScreen.querySelector('#edtQtd').addEventListener('focusout',()=>{
        max_itens()
    })

    pageScreen.querySelector('#edtPreco').addEventListener('focusout',()=>{
        limite_preco()
    })

    pageStart()

</script>