
<template>
    <style></style>

<fieldset>
    <legend>Adicionar</legend>
    <div class="inline">
        <label for="edtProd">Produto</label>
        <div class="edtbtn">
            <input type="text" id="edtProd" readonly>
            <button id="btnBusca" class="btn-round"><span class="mdi mdi-magnify"></span></button>
        </div>
    </div>
    <div id="inline" class="center">
        <label id="lblProd"></label>
    </div>
    <div class="inline">
        <label for="edtQtd">Qtd</label>
        <input type="text" id="edtQtd" onfocus="this.select();" inputmode="decimal" onkeyup="return valFloat(this)" onkeypress="return getEnter(event, 'btnAddProd')" value="0">
        <label for="edtPreco">Preço R$</label>
        <input type="text" id="edtPreco" onfocus="this.select();" inputmode="decimal" onkeyup="return valFloat(this)" onkeypress="return getEnter(event, 'btnAddProd')" value="0">
    </div>
    <div class="line">
        <button id="btnAddProd"><span class="mdi mdi-cart-plus"></span> OK</button>
    </div>
</fieldset>


</template>
<script>

    const pageData = main_data.tool_add_prod.data
    const pageFunc = main_data.tool_add_prod.func
    const pageScreen = document.querySelector('#card-tool_add_prod')

    function buscaProd(data){
        pageScreen.querySelector('#edtProd').data = data
        pageScreen.querySelector('#edtProd').value = data.nome
        pageScreen.querySelector('#edtQtd').focus()
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        openHTML('adm_produtos.html','pop-up','Produtos',{'callback':buscaProd},600)
    })

    pageScreen.querySelector('#btnAddProd').addEventListener('click',()=>{
        if(checkField(['edtProd']) && checkZero(['edtQtd','edtPreco'])){
            if(pageData.hasOwnProperty('callback')){
                const obj = pageScreen.querySelector('#edtProd').data
                obj.qtd = pageScreen.querySelector('#edtQtd').value
                obj.val_unit = pageScreen.querySelector('#edtPreco').value
                obj.total = (Number(obj.qtd) * Number(obj.val_unit)).toFixed(2)
                pageData.callback(obj)
            }
            closeModal('tool_add_prod')
        }
    })

</script>